@page
@model AboutModel
@{
    ViewData["Title"] = "About";
    ViewData["ActivePage"] = ActivePage.About;
}

<div class="container pt-2">
    <div class="shortcode-html">
        <div class="row">
            <div class="col-md-6">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">About Captain Gottschalk </h2>
                </div>
                <p class="lead g-font-weight-400">Unify
                USCG Captain Ryan Gottschalk, started his passion for musky at the young age of 9. From the first bite it consumed his fishing prowess for the next 25 years.
                From coast to coast, boarder to boarder, Captain Gottschalk has solidified his skill set with his time on the water and in his travels to learn all things musky. 
                Fox chain of lakes has been a home base for the majority of his life, until 2008 when he was first introduced to the Bay of Green Bay. 
                After finding a true trophy fishery Captain Ryan has made it his personal mission to be able to dissect and relay that process to numerous friends and clients.
                In 2015 Captain Gottschalk had accomplished his USCG training and after years of ironing out his process he’s ready to go full time! 
                Whether you're in Illinois and want to learn home waters or chase some of the largest musky in the world.
                </p>
                <p class="lead g-font-weight-400">
                  This is the Captain for you.
                </p>
            </div>
    
          <div class="col-md-6">
            <div class="u-shadow-v3 g-mb-30">
               <img class="img-fluid" style="{overflow: hidden; height: 300px;}" src="~/assets/img/marketing/ryan-musky-hero.jpg" alt="Image Description">
            </div>
           
          </div>
        </div>
    </div>
    
  
  <div class="u-heading-v1-4 g-bg-main g-brd-primary g-mb-20">
    <h2 class="h3 u-heading-v1__title">Favorite Charter Regions</h2>
  </div>
  
  <div class="row">
      <div class="col-lg-6 g-mb-30">
        <!-- Article -->
        <article class="u-block-hover">
          <figure class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/img/maps/greenbay.png" alt="Image Description">
          </figure>
    
          <span class="g-pos-abs g-top-20 g-left-20">
            <a class="btn u-btn-primary rounded-0" href="https://www.google.com/maps/&#64;44.5498434,-88.0418494,10.92z">Wisconsin</a>
          </span>
    
          <header class="g-pos-abs g-right-20 g-bottom-10 g-left-20">
            <h3 class="h2 g-font-weight-600">
              <a class="g-color-white" href="https://www.google.com/maps/&#64;44.5498434,-88.0418494,10.92z">Green Bay - Brown County</a>
            </h3>
          </header>
        </article>
        <!-- End Article -->
      </div>

    <div class="col-lg-6 g-mb-30">
        <!-- Article -->
        <article class="u-block-hover">
          <figure class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/img/maps/il-north.png" alt="Image Description">
          </figure>
    
          <span class="g-pos-abs g-top-20 g-left-20">
            <a class="btn u-btn-yellow rounded-0" href="https://www.google.com/maps/&#64;42.3755145,-88.2793633,11.42z">Illonois</a>
          </span>
    
          <header class="g-pos-abs g-right-20 g-bottom-10 g-left-20">
            <h3 class="h2 g-font-weight-600">
              <a class="g-color-white" href="https://www.google.com/maps/&#64;42.3755145,-88.2793633,11.42z">Northern Illonois - Lake County</a>
            </h3>
          </header>
        </article>
        <!-- End Article -->
      </div>
    </div>
    
    <div class="u-heading-v1-4 g-bg-main g-brd-primary g-mb-20">
      <h2 class="h3 u-heading-v1__title">Catch Highlights</h2>
    </div>
    
  
  <div class="row">
      <div class="col-md-4 g-mb-30">
        <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--col3" data-src="../../assets/img-temp/400x270/img8.jpg" data-caption="Lightbox Gallery">
          <img class="img-fluid" src="../../assets/img-temp/400x270/img8.jpg" alt="Image Description">
        </a>
      </div>
      <div class="col-md-4 g-mb-30">
        <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--col3" data-src="../../assets/img-temp/400x270/img2.jpg" data-caption="Lightbox Gallery">
          <img class="img-fluid" src="../../assets/img-temp/400x270/img2.jpg" alt="Image Description">
        </a>
      </div>
      <div class="col-md-4 g-mb-30">
        <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--col3" data-src="../../assets/img-temp/400x270/img3.jpg" data-caption="Lightbox Gallery">
          <img class="img-fluid" src="../../assets/img-temp/400x270/img3.jpg" alt="Image Description">
        </a>
      </div>
      <div class="col-md-4 g-mb-30">
        <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--col3" data-src="../../assets/img-temp/400x270/img7.jpg" data-caption="Lightbox Gallery">
          <img class="img-fluid" src="../../assets/img-temp/400x270/img7.jpg" alt="Image Description">
        </a>
      </div>
      <div class="col-md-4 g-mb-30">
        <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--col3" data-src="../../assets/img-temp/400x270/img5.jpg" data-caption="Lightbox Gallery">
          <img class="img-fluid" src="../../assets/img-temp/400x270/img5.jpg" alt="Image Description">
        </a>
      </div>
      <div class="col-md-4 g-mb-30">
        <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--col3" data-src="../../assets/img-temp/400x270/img6.jpg" data-caption="Lightbox Gallery">
          <img class="img-fluid" src="../../assets/img-temp/400x270/img6.jpg" alt="Image Description">
        </a>
      </div>
    </div>
    
</div>
