@page
@using MuskyMulisha.Models
@model ContactModel
@{
    ViewData["Title"] = "Faq";
    ViewData["ActivePage"] = ActivePage.Faq;
}

<div class="container">
    
    <div class="u-heading-v1-1 g-bg-main g-brd-gray-light-v2 g-mb-20">
        <h2 class="h3 u-heading-v1__title">What Do You Supply?</h2>
    </div>
    <div class="g-pl-30 g-my-30">
        I'll supply all you the gear and expertise you'll need to reel in the Musky.
        I do carry snacks on the boat but reccomend you pack your favorites. 
    </div>
    
    <div class="u-heading-v1-1 g-bg-main g-brd-gray-light-v2 g-mb-20">
        <h2 class="h3 u-heading-v1__title">What Do I Need To Bring?</h2>
    </div>

    <div class="g-pl-30 g-my-30">
        <ul>
            <li>
                Up to Date Fishing License
            </li>
            <li>
                Weather Appropriate Gear (Hat, Rain Gear, Sunscreen)
            </li>
            <li>
                Camera for Bragging Rights
            </li>
            <li>
                Positive Attitude
            </li>
            <li>
                Polarized Sunglasses (Helps to reveal fish under the surface)
            </li>
            <li>
                Sack Lunch, Drinks and Snacks
            </li>
            <li>
                Giant Appitite for Catching Muskies
            </li>
        </ul>
    </div>

    <div class="u-heading-v1-1 g-bg-main g-brd-gray-light-v2 g-mb-20">
        <h2 class="h3 u-heading-v1__title">I have my own gear, can I use that?</h2>
    </div>
        <div class="g-pl-30 g-my-30">
            Of course! Any tackle or equipment you and your group has are welcome aboard.
            My gear will be available in case you want to try something new.
        </div>
        
</div>

