@page
@model RatesModel
@{
    ViewData["Title"] = "Rates";
    ViewData["ActivePage"] = ActivePage.Rates;
}

<div class="container pt-2">
    <section class="g-flex-centered g-min-height-450 g-bg-gray-light-v5 g-py-30 g-mb-30 p">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center g-py-20">
                    <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20">Guided Charter Rates (1-3 Anglers)</h2>
                    <p class="lead mb-0 g-line-height-2">You can expect a fun, safe and informational fishing trip when you book a trip with Musky Mulisha Guide Service. Muskie fishing trips are very memorable and make lifelong memories. <br> Book your fishing trip today and you will not be disappointed.</p>
                </div>

                <div class="col-md-6 align-self-center g-py-20">
                    <img class="w-100" src="~/assets/img/marketing/jason-tiger-catch.jpg" alt="Iamge Description">
                </div>
            </div>
        </div>
    </section>

    <div class="u-heading-v1-3 g-bg-main g-brd-primary g-mb-20 g-py-5">
        <h2 class="h3 u-heading-v1__title">Northern Illinois Fishing Charters</h2>
    </div>

    <div class="row g-py-5">
        <div class="col-lg-6 g-mb-30">
            <!-- Article -->
            <article class="w-100 d-sm-table g-bg-white g-transform-scale-1_05--hover g-transition-0_3">
                <!-- Article Info -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
                    <strong class="g-font-size-36 g-color-primary">$350</strong>
                    <br>
                    <a asp-page="/Contact" class="btn u-btn-outline-primary">Schedule</a>
                </div>
                <!-- End Article Info -->

                <!-- Article Content -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
                    <h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">Full Day Trip</h4>
                    <p class="mb-0">8-12 Hour of guided fishing. The best way to learn and the best chance for you to reel in a prize winner.</p>
                </div>
                <!-- End Article Content -->
            </article>
            <!-- End Article -->
        </div>

        <div class="col-lg-6 g-mb-30">
            <!-- Article -->
            <article class="w-100 d-sm-table g-bg-white g-transform-scale-1_05--hover g-transition-0_3">
                <!-- Article Info -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
                    <strong class="g-font-size-36 g-color-primary">$250</strong>
                    <br>
                    <a asp-page="/Contact" class="btn u-btn-outline-primary">Schedule</a>
                </div>
                <!-- End Article Info -->

                <!-- Article Content -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
                    <h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">Half Day Trip</h4>
                    <p class="mb-0">4-5 Hour guided fishing trip. Just long enough to get a bite.</p>
                </div>
                <!-- End Article Content -->
            </article>
            <!-- End Article -->
        </div>


        <div class="col-lg-6 g-mb-30 g-py-5">
            <!-- Article -->
            <article class="w-100 d-sm-table g-bg-white g-transform-scale-1_05--hover g-transition-0_3">
                <!-- Article Info -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
                    <strong class="g-font-size-36 g-color-primary">$300</strong>
                    <br>
                    <a asp-page="/Contact" class="btn u-btn-outline-primary">Schedule</a>
                </div>
                <!-- End Article Info -->

                <!-- Article Content -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
                    <h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">Evening/Night Trip</h4>
                    <p class="mb-0">6-8 Hours of guided fishing during prime musky hours. Perfect way to relax after a long day of work.</p>
                </div>
                <!-- End Article Content -->
            </article>
            <!-- End Article -->
        </div>
    </div>


    <!-- Hero Info #05 -->
    <section class="g-pb-50--md g-pb-50">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 ml-md-auto mr-md-auto">
                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-20">Purchase Multiple Trips and Ask About My</h3>
                    <h2 class="display-4 text-uppercase g-font-weight-600 g-mb-20">
                        <span class="g-color-primary">Multi Trip</span>
                        discount
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Info #05 -->


    <div class="u-heading-v1-3 g-bg-main g-brd-primary g-mb-20 g-py-5">
        <h2 class="h3 u-heading-v1__title">Green Bay Fishing Charters</h2>
    </div>

    <div class="row">
        <div class="col-lg-6 g-mb-30">
            <!-- Article -->
            <article class="w-100 d-sm-table g-bg-white g-transform-scale-1_05--hover g-transition-0_3">
                <!-- Article Info -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
                    <strong class="g-font-size-36 g-color-primary">$450</strong>
                    <br>
                    <a asp-page="/Contact" class="btn u-btn-outline-primary">Schedule</a>
                </div>
                <!-- End Article Info -->

                <!-- Article Content -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
                    <h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">Full Day Trip</h4>
                    <p class="mb-0">8-10+ Hours of Guided Fishing. The best way to learn and the best chance for you to reel in a prize winner.</p>
                </div>
                <!-- End Article Content -->
            </article>
            <!-- End Article -->
        </div>

        <div class="col-lg-6 g-mb-30">
            <!-- Article -->
            <article class="w-100 d-sm-table g-bg-white g-transform-scale-1_05--hover g-transition-0_3">
                <!-- Article Info -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
                    <strong class="g-font-size-36 g-color-primary">$350</strong>
                    <br>
                    <a asp-page="/Contact" class="btn u-btn-outline-primary">Schedule</a>
                </div>
                <!-- End Article Info -->

                <!-- Article Content -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
                    <h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">Half Day Trip</h4>
                    <p class="mb-0">4-5 Hours of guided fishing. Just long enough to get a bite. </p>
                </div>
                <!-- End Article Content -->
            </article>
            <!-- End Article -->
        </div>


        <div class="col-lg-6 g-mb-30">
            <!-- Article -->
            <article class="w-100 d-sm-table g-bg-white g-transform-scale-1_05--hover g-transition-0_3">
                <!-- Article Info -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
                    <strong class="g-font-size-36 g-color-primary">$400</strong>
                    <br>
                    <a asp-page="/Contact" class="btn u-btn-outline-primary">Schedule</a>
                </div>
                <!-- End Article Info -->

                <!-- Article Content -->
                <div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
                    <h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">Evening/Night Trip</h4>
                    <p class="mb-0">6-8 Hours of guided fishing during prime musky hours. Perfect way to relax after a long day of work.</p>
                </div>
                <!-- End Article Content -->
            </article>
            <!-- End Article -->
        </div>
    </div>
    
    <section>
      <div class="container text-center g-pb-50--md g-pb-20">
        <h2 class="h2 text-uppercase g-font-weight-300">Have Questions?</h2>
        <p class="lead g-px-100--md g-mb-20">Whether you're a salty angler or looking for a new adventure, we've got you covered. Check out our FAQ to learn more about what you can expect and what gear you are expected to bring.</p>
        <a class="btn btn-md u-btn-primary rounded-0" asp-page="/Faq">Frequently Asked Questions</a>
      </div>
    </section>

</div>