/* Add here all your css styles (customizations) */
body{
    /* background: url("../img/bg/musky-background.svg") repeat !important;*/
    background-color: #111  !important;
    background-size: 9% !important;
    color: #ebe8e1;
}

.cust-bg-dark-block, .cust-bg-dark-block div {
    background-color: rgb(30, 27, 27) !important;
    color: #ebe8e1;
}

.cust-bg-dark, .cust-bg-dark div, .cust-bg-dark section{
    background-color: #111111 !important;
    color: #ebe8e1;
}

.cust-bg-offwhite {
    background-color: #ebe8e1 !important;
}

